<table class="table table-noborder">
  <thead>
    <tr>
      <th class="left">Name</th>
      <th>Title</th>
      <th>TimeStamp</th>
      <th>Delete</th>
      <th>View</th>
      <th class="left">Download</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td class="left">{{ project.name }}</td>
      <td>{{ project.title }}</td>
      <td>{{ project.timestamp }}</td>
      <td><input type="checkbox" clrCheckbox /></td>
      <td (click)="viewProjectDetail(project)" class="view-btn">
        <clr-icon shape="eye"></clr-icon>
        View
      </td>
      <td class="view-btn"><clr-icon shape="download"></clr-icon> Download</td>
    </tr>
  </tbody>
</table>
