<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Lincoln App Hub</span>
            </a>
        </div>
      
    </header>

  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a
          [routerLink]="['/dashboard/projects']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          <clr-icon shape="folder"></clr-icon> Manage Projects
          <a
          routerLink="/dashboard/project-details"
          style="display: none"
          >Project Details</a
        >
        </a>
        <a
          [routerLink]="['/dashboard/recommendations']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          <clr-icon shape="success-standard"></clr-icon>
          Manage Recommendations
          <a
          routerLink="/dashboard/recom-details"
          style="display: none"
          >Recommendation Details</a
        >
        </a>
        <a
          [routerLink]="['/dashboard/users']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          <clr-icon shape="users"></clr-icon>
          Manage Users
        </a>

        <a (click)="logout()" class="nav-link">
          <clr-icon shape="logout"></clr-icon>
          Logout
        </a>
      </section>
    </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
