<div>
        <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                  <h2 class="navbar-item">Admin Panel</h2>
                  </div>
              
                  <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="buttons">
                        <a class="navbar-item">Calvo</a>
                        <a class="button is-light">
                          Log Out
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
              
<nav class="level">
    <div class="level-left">
        <div class="level-item">
            <h2>Manage</h2>
        </div>
        <div class="level-item">
            <h3>Manage Projects</h3>
        </div>
        <div class="level-item">
            <h3>Manage Recommendations</h3>
        </div>
        <div class="level-item">
            <h3>Manage Users</h3>
        </div>
        <div class="level-item">
            <h3>Settings</h3>
        </div>
    </div>
</nav>
</div>
